.reloj {
  height: 150px;
}
.centrar {
  display: inline-block;
  height: 90px;
  border-radius: 10px;
  font-size: 60px;
  
}

.separador {
  font-size: 80px !important;
}

.container {
  width: auto;
  border-radius: 10px;
}

.relojIcon {
  display: inline-block;
  height: 80px;
  border-radius: 10px;
  font-size: 60px;
}
